:root {
	--color-hg-header: #41576c;
	--color-bg-menu: #394759;
	--color-bg-selection: #192131;
	--color-bg-content: #1f2736;
	--color-bg-content-contrast: #1c2433;
	--color-text: #ccd3d9;
	--color-text-contrast: #9b8676;
}

/* Global styles */
h1,
h2,
h3 {
	margin: 0;
}

html {
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background-color: var(--color-bg-content);
	color: var(--color-text);
}

h1 {
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 2px;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 2px;
}

h3 {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
}
